{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'babtra_styles.css' %}">
</head>

<body>
    <div class="header_left">
        <img src="{% static 'images/logo.png' %}" width="200px" height="70px">
    </div>
    <div class="header_right">
        <t1 position="absolute">Programs</t1>
        <t1>Placements</t1>
        <t1>About Us</t1>
        <t1>Blog</t1>
        <t1>Gallary</t1>
        <div class="enquire">
            <t1>Enquire Now</t1>
        </div>

    </div>
    <div class="body_main">
        <div class="joinnow">
            
<div class="joinnow_1">

        <t1>LERN FROM PROFESSIONALS</t1>
        <BR>

<h11>Taught by industry <BR> experts</h11>
<BR>
    <p>
    Baabtra, the best software training company in <br>Calicut has proved its expertise by training and<br> placing
    several hundreds of students both in <br>MNC’s like UST Global, Infosys, Oracle etc and <br>SME’s like Nucore
    Software Solutions, Sesame, <br> IOSS, ULTS.

</p>
<div class="enquire"><t1>join now</t1></div>

</div>


<img src="{% static 'images/pic1.png' %}" style="float: right;">
</div>
<div class="training">
<h12 style="text-align: center;">Training Process</h12>
<p style="text-align:center">
    A DIGIT THAT COMMUNICATES MORE THAN PAGES OF CV A PROGRESS REPORT GENERATED THROUGH AN <BR>ONLINE TEST ON THE IT SKILLS OF
        THE CANDIDATE. BAABTRA RATING EQUIPS CANDIDATE TO PRESENT <BR>THEIR WORTH IN PROGRAMMING SKILLS AND AVOIDS EMPLOYERS THE
        TASK OF READING THROUGH PAGES <BR>OF CV AND, IN SOME CASES, BEING MISLED BY THE CVS.
    
</p>

</div>


















    </div>
    <div class="footer_top">
        <div style="padding-right:20mm">
            <h10> About Us</h10>

                <p>
                Baabtra, the best software training company in <br>Calicut has proved its expertise by training and<br> placing
                several hundreds of students both in <br>MNC’s like UST Global, Infosys, Oracle etc and <br>SME’s like Nucore
                Software Solutions, Sesame, <br> IOSS, ULTS.
            
            </p>

        </div>

<table style="width:10cm">
<tr><td><h10>Company</h10></td><td><h10>Courses</h10></td></tr>
<tr><td><t1>About Us</t1></td><td><t1>Python</t1></td></tr>
<tr><td><t1>placements</t1></td><td><t1>Flutter</t1></td></tr>
<tr><td><t1>Testimonials</t1></td><td><t1>Angular</t1></td></tr>
<tr><td><t1>Gallary</t1></td><td><t1>PHP</t1></td></tr>
<tr><td><t1>Contact us</t1></td><td><t1></t1></td></tr>

</table>
<table  id="table1" >
    <tr height="60px"><td colspan="2"><h10>Contact</h10></td></tr>
<tr><td rowspan="3"><img src="{% static 'images/contact.png' %}" height="230px"></td><td padding-left="5mm"><t2>+91 859 205 8444</t2></td></tr>
<tr><td style="height:20mm;"><t2>info@baabtra.com</t2></td></tr>
<tr st><td style="padding-bottom:10mm;text-align: center"><t2>CAFIT Square, 5th Floor, HiLite <br>Business Park, Thondayad <br>Bye-Pass, Hilite City, Calicut, <br>Kerala, India.</t2></td></tr>
</table>


</div>

    <div class="footer_bottom"><img src="{% static 'images/logo-footer.png' %}" width="200px" height="70px"></div>
</body>

</html>