{% extends 'babtra_master.html' %}
{% load static %}


{% block title %}
aboutus
{% endblock %}



{% block head %}
<link rel="stylesheet" href="{% static 'css/aboutus.css' %}">
{% endblock %}



{% block content %}

<div class="body_main">
    <div class="joinnow">

        <div class="joinnow_1">

            <t1>LERN FROM PROFESSIONALS</t1>
            <BR>

            <h11>Taught by industry <BR> experts</h11>
            <BR>
            <p>
                Baabtra, the best software training company in <br>Calicut has proved its expertise by training and<br>
                placing
                several hundreds of students both in <br>MNC’s like UST Global, Infosys, Oracle etc and <br>SME’s like
                Nucore
                Software Solutions, Sesame, <br> IOSS, ULTS.and many other companies mainly  <br>in Kozhikode, Cochin, Trivandrum and Bangalore.

            </p>
            <div class="enquire">
                <t1>join now</t1>
            </div>

        </div>


        <img src="{% static 'images/pic1.png' %}" style="float: right;">
    </div>
    <div class="training">
        <h12 style="text-align: center;">Training Process</h12>
        <p style="text-align:center">
            A DIGIT THAT COMMUNICATES MORE THAN PAGES OF CV A PROGRESS REPORT GENERATED THROUGH AN <BR>ONLINE TEST ON
            THE IT SKILLS OF
            THE CANDIDATE. BAABTRA RATING EQUIPS CANDIDATE TO PRESENT <BR>THEIR WORTH IN PROGRAMMING SKILLS AND AVOIDS
            EMPLOYERS THE
            TASK OF READING THROUGH PAGES <BR>OF CV AND, IN SOME CASES, BEING MISLED BY THE CVS.

        </p>

    </div>

    <div class="divbg" style="background-image:url({% static 'images/bg.jpg' %});">
        <div class="divbg1">
            <t1>01</t1> <br>
            <p> Take requirements from companies and convert it into skills, technologies and other parameters.</p>
        </div>

        <div class="divbg1">
            <t1>02</t1> <br>
            <p> Use the BAABTRA PROFILE to see each student’s potential to become programming professionals in terms of
                their analytical and logical skills as well as familiarity with languages. This tested automated tool
                allows the company, the candidate and us to understand where this particular person stands and allows us
                to chart a road map ahead..</p>
        </div>
        <div class="divbg1">
            <t1>03</t1> <br>
            <p> Identifies those who are directly employable to the company HR and for others, training is made
                available to
                become employable for jobs with similar portfolios.</p>
        </div>
        <div class="divbg1">
            <t1>04</t1> <br>
            <p> The training methodology is based on project-based-practice and learning and assessment are highly
                automated with the options of giving quick feedback and availability of extra materials..</p>
        </div>
        
    </div>

<div>
    <div class="div3"> 
      
        
        <t1>
            WHY B A A B T R A ?<BR>

        </t1>
        <t2>
            11 Years of Teaching Proficiency
        </t2>
    
    </div>
    <div class="div4">
        <img src="{% static 'images/baue.png' %}">
    </div>
</div>

<!-- <div class="div5">
    Why You
Should Choose Baabtra -->
<!-- </div> --> 

<div class = "gal_1" style="height: 200px;">
    <P1>Blog News</P1>
    <P2>Latest Blog News</P2>
    <div class="uline"></div>
    </div>
<div class="blog_i">


    <div class="blog_i1">
        <img src="{% static 'images/bl3.jpg' %}">
        <p1>Oct 22, 2022</p1>
        <p2>Career Opportunities in Python</p2>
        <div class="enquire"><p>Read More</p></div>
    </div>

    <div class="blog_i1">
        <img src="{% static 'images/bl4.webp' %}"><br>
        <p1>Oct 22, 2022</p1><br>
        <p2>The Best Futuristic Career Options and Opportunities in the Software Industry</p2><br>
        <div class="enquire"><p>Read More</p></div>
    </div>


    <div class="blog_i1">
        <img src="{% static 'images/bl8.jpeg' %}">
        <p1>Dec 01, 2021</p1>
        <p2>The Perks of Learning Python as a Programming Language</p2>
        <div class="enquire"><p>Read More</p></div>
    </div>


</div>












</div>


<div style="width: 100%;height: auto;">

    <div class="newsletter">
        <div class="newsletter1"> <p5>NEWSLETTER</p5> <BR>

            <t2>Join our community of students</t2>

        </BR></div>
           <div class="brc"><t>Download brochure</t></div></div>
    
</div> 


<!-- <div style="background-color: #100F1F;width:100%;height: 15mm;"></div> -->
{% endblock %}