{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Master page
        {% endblock %}
    </title>
    
    {% block head %}
    
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/baabtra_styles.css' %}">
  
</head>

<body >
    <!-- header start  -->
 <div class="header">
                     <div class="header_left">
                     <img src="{% static 'images/logo.png' %}" width="200px" height="70px">
                       </div>

                        
         <div class="header_right">
        <!-- <t1 position="absolute">Programs</t1> -->
                  <div class="dropdown">
                    <div class="dropbtn"><t1>Programs</t1></div>
                    <div class="dropdown-content">
                     <a href="#">
                    <t1>Certification In Python full Stack Development</t1>
                    </a>
                    <a href="#">
                    <t1>Diploma In Python Full Stack Development</t1>
                   </a>
                     <a href="#">
                    <t1>Certification In Flutter Development</t1>
                </a>
                <a href="#">
                    <t1>Dipoloma In Flutter Development</t1>
                </a>
                <a href="#">
                    <t1>Certification In Angular Development</t1>
                </a>
                <a href="#">
                    <t1>Diploma In Angular Development</t1>
                </a>
                <a href="#">
                    <t1>Certification In PHP Full Stack Development</t1>
                </a>
                <a href="#">
                    <t1>Diploma In PHP Full Stack Development</t1>
                </a>
            </div>
        </div>
        <a href="placement" style="text-decoration:none;">
        <div class="dropbtn">
        <t1>Placements</t1></div></a>
        <a href="aboutus" style="text-decoration:none;"><div class="dropbtn"><t1> About Us</t1></div></a>
        
            <a href="blog" style="text-decoration:none;"><div class="dropbtn">
        <t1>Blog</t1></div></a>
        <a href="gallery" style="text-decoration:none;"><div class="dropbtn">
        <t1>Gallery</t1></div></a>
        <a href="contact" style="text-decoration:none;"><div class="enquire">
            <t1>Enquire Now</t1>
        </div></a>

    </div>
     </div>
 <!-- header end  -->
 
 <!-- individual pages content start -->
    <div class="main_body">
        {% block content %}
        {% endblock %}
    
 <!-- individual pages content end -->

    <!-- footer start -->
    <div class="footer_top">
        <div style="padding-right:20mm; padding-top:20px ;margin-left: 70mm;">
            <h10> About Us</h10>

            <p>
                Baabtra, the best software training company in <br>Calicut has proved its expertise by training and<br>
                placing
                several hundreds of students both in <br>MNC’s like UST Global, Infosys, Oracle etc and <br>SME’s like
                Nucore
                Software Solutions, Sesame, <br> IOSS, ULTS.

            </p>

        </div>

        <table style="width:10cm;height: 300px;">
            <tr>
                <td>
                    <h10>Company</h10>
                </td>
                <td>
                    <h10>Courses</h10>
                </td>
            </tr>
            <tr>
                <td>
                    <t1>About Us</t1>
                </td>
                <td>
                    <t1>Python</t1>
                </td>
            </tr>
            <tr>
                <td>
                    <t1>placements</t1>
                </td>
                <td>
                    <t1>Flutter</t1>
                </td>
            </tr>
            <tr>
                <td>
                    <t1>Testimonials</t1>
                </td>
                <td>
                    <t1>Angular</t1>
                </td>
            </tr>
            <tr>
                <td>
                    <t1>Gallary</t1>
                </td>
                <td>
                    <t1>PHP</t1>
                </td>
            </tr>
            <tr>
                <td>
                    <t1>Contact us</t1>
                </td>
                <td>
                    <t1></t1>
                </td>
            </tr>

        </table>
        <table id="table1" >
            <tr height="60px">
                <td colspan="2">
                    <h10>Contact</h10>
                </td>
            </tr>
            <tr>
                <td rowspan="3"><img src="{% static 'images/contact.png' %}" height="230px"></td>
                <td padding-left="5mm">
                    <t2>+91 859 205 8444</t2>
                </td>
            </tr>
            <tr>
                <td style="height:20mm;">
                    <t2>info@baabtra.com</t2>
                </td>
            </tr>
            <tr st>
                <td style="padding-bottom:10mm;text-align: center">
                    <t2>CAFIT Square, 5th Floor, HiLite <br>Business Park, Thondayad <br>Bye-Pass, Hilite City, Calicut,
                        <br>Kerala, India.</t2>
                </td>
            </tr>
        </table>


    </div>

    <div class="footer_bottom"><img src="{% static 'images/logo-footer.png' %}" width="200px" height="70px"></div>
</div>
<!-- footer end  -->

</body>

</html>