{% extends 'babtra_master.html' %}
{% load static %}

{% block title %}
blog
{% endblock %}

{% block header %}
<!-- <link rel="stylesheet" href="{% static 'css/babtra_styles.css' %}"> -->
<!-- <link rel="stylesheet" href="{% static 'css/blog_style.css' %}"> -->
{% endblock %} 

{% block content %}
<div class="blog_h">
<t1>Blog</t1>
<p><a href="home">HOME</a>/BLOG</p>
</div>

<div class="blog_i">
    <div class="blog_i1">
        <img src="{% static 'images/bl1.jpg' %}">
        <p1>Dec 20, 2022</p1>
        <p2>How to Upgrade Yourself as an Early-Stage Programmer in India?</p2>
        <div class="enquire"><p>Read More</p></div>

    </div>


    <div class="blog_i1">
        <img src="{% static 'images/bl2.jpg' %}">

        <p1>Nov 14, 2022</p1>
        <p2>How you can improve your skills in web technologies?</p2>
        <div class="enquire"><p>Read More</p></div>
    </div>


    <div class="blog_i1">
        <img src="{% static 'images/bl3.jpg' %}">
        <p1>Oct 22, 2022</p1>
        <p2>Career Opportunities in Python</p2>
        <div class="enquire"><p>Read More</p></div>
    </div>


    <div class="blog_i1">
        <img src="{% static 'images/bl4.webp' %}"><br>
        <p1>Oct 22, 2022</p1><br>
        <p2>The Best Futuristic Career Options and Opportunities in the Software Industry</p2><br>
        <div class="enquire"><p>Read More</p></div>
    </div>


    <div class="blog_i1">
        <img src="{% static 'images/bl5.jpeg' %}"> <br>
        <p1>Dec 01, 2021</p1><br>
        <p2>Angular vs Flutter: Which is Better?</p2><br>
        <div class="enquire"><p>Read More</p></div>
    </div>


    <div class="blog_i1">
        <img src="{% static 'images/bl6.jpeg' %}"><br>
        <p1>Dec 01, 2021</p1><br>
        <p2>Baabtra Digital Fest 2022</p2><br>
        <div class="enquire"><p>Read More</p></div>
    </div>

    <div class="blog_i1">
        <img src="{% static 'images/bl7.jpeg' %}">
        <p1>Dec 01, 2021</p1>
        <p2>The IT Sector In Kerala And The Progress Boom In Its Job Opportunities</p2>
        <div class="enquire"><p>Read More</p></div>
    </div>

    <div class="blog_i1">
        <img src="{% static 'images/bl8.jpeg' %}">
        <p1>Dec 01, 2021</p1>
        <p2>The Perks of Learning Python as a Programming Language</p2>
        <div class="enquire"><p>Read More</p></div>
    </div>

    <div class="blog_i1">
        <img src="{% static 'images/bl9.jpeg' %}">
        <p1>Dec 01, 2021</p1>
        <p2>Why is Flutter the Future of Cross-Platform App Development?</p2>
        <div class="enquire"><p>Read More</p></div>
    </div>
    <div class="blog_i1">
        <img src="{% static 'images/bl10.jpeg' %}">
        <p1>Dec 01, 2021</p1>
        <!-- <div class="blog_i2">  -->
             <p2>Is Angular Easy To Learn?</p2>
            <!-- </div> -->
        <div class="enquire"><p>Read More</p></div>
    </div>
</div>
<!-- <div style="background-color: #100F1F;height: 15mm;width: f ;"></div> -->


{% endblock %}

