{% extends 'babtra_master.html' %}
{% load static %}

{% block title %}
contact
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<!-- -----------------------------------------------------------------------------------joinus -->

<div class="blog_h">
    <t1>Join Us Now</t1>
    <p><a href="home">HOME</a>/CONTACT</p>

</div>
<div class="gal_1">
    <P1>CHASE YOUR DREAMS</P1>
    <p2>Register Now</p2>
    <div class="uline"></div>
    <t3> We offer Python Training with Django Framework, PHP Training with <br> Laravel Framework, Angular Training and
        Flutter
        Training.</t3>
</div>

<!-- --------------------------------------------------------------------------------------contactus -->

<div class="contact_1">
    <div class="contact_1l">


            <div class="contact_11">
            <t1>Email Us</t1> <br>
            <t2>info@baabtra.com</t2>
            </div>


           <div class="contact_11">
           <t1>Make a Call</t1> <br>
           <t2>+91 859 205 8444</t2>
           </div>

           <div class="contact_11">
           <t1>Corporate Office</t1> <br>
            <t2>CAFIT Square, 5th Floor, HiLite <br>
            Business Park, Thondayad bye- <br>
            Pass, Hilite City, Calicut, Kerala,<br>
            India</t2>
            </div>


    </div>



    <div class="contact_1r">
            <div class="form_body">
                                   <div class="form_body_h">
                                    <t1>You're just a step away</t1> <br>
                                    <t2> Getting a software job is so easy with our internship program. Join now</t2>
                                    </div>
                                    

                                        <div class="form_body_m">
                                        <t3>Name</t3> 
                                        <input type="text">
                    
                                        <t3>Phone</t3> 
                                        <input type="text">
                    
                                        <t3>Email</t3> <br>
                                        <input type="text">
                    
                                        <t3>Last completed cource</t3> 
                                         <select>
                                        <option class="option_1" value="select"> Select</option>
                                        <option >BA</option>
                                        <option>BBA</option>
                                        <option>BCA</option>
                                        <option value="bcom" selected>BCOM</option>
                                        <option>BE</option>
                                        <option>BTECH</option>
                                        </select>
                                       
                                        <t3>Which technology would you like to learn </t3> 
                                        <input type="text">

                                        <div class="button_1"><t>SUBMIT</t></div> 
                                            
                                        
                                       </div>

                                <div class="form_body_b">
                                <t>Do not submit confidential information such as credit card details, mobile and ATM PINs, OTPs, <br> account
                                passwords, etc.<a href="#">Report Abuse</a></t>
                                <t1>Powered by</t1>
                                <img src="{% static 'images/zoho.png' %}">

                                </div>   


            </div>

                
                 
             
                   


                   

            
        
                    

            <!-- </div> -->
       <!-- </div>
        </div> -->
    </div>





</div>
<!-- -------------------------------------------------------------------------------------- -->



                   

                  
           
            
    
<div style="width: 100%;height: 275px;">

    <div class="newsletter">
        <div class="newsletter1"> <p5>NEWSLETTER</p5> <BR>

            <t2>Join our community of students</t2>

        </BR></div>
             <div class="brc"><t>Download brochure</t></div></div>
   
</div> 


<!-- <div style="background-color: #100F1F;width:100%;height: 15mm;"></div> -->
{% endblock %}