{% extends 'babtra_master.html' %}
{% load static %}

{% block title %}
gallery
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class = "blog_h">
    <t1>Gallery </t1>
    <p><a href="home">HOME</a>/GALLERY</p>

</div>

<div class = "gal_1">
    <P1>GALLERY</P1>
    <P2>Special Moments</P2>
    <div class="uline"></div>
    </div>

    <div class="gal_2">
<div class="gal_21"><img src="{% static 'images/gl1.jpg' %}"></div>
<div class="gal_21"><img src="{% static 'images/gl2.jpeg' %}"></div>
<div class="gal_21"> <img src="{% static 'images/gl3.jpg' %}"></div>
<div class="gal_21"><img src="{% static 'images/gl4.png' %}"></div>
<div class="gal_21"><img src="{% static 'images/gl5.jpeg' %}"></div>
<div class="gal_21"><img src="{% static 'images/gl6.jpg' %}"></div>
<div class="gal_21"><img src="{% static 'images/gl7.jpg' %}"></div>
<div class="gal_21"><img src="{% static 'images/gl8.jpeg' %}"></div>
<div class="gal_21"><img src="{% static 'images/gl9.jpg' %}"></div>
<div class="gal_21"><img src="{% static 'images/gl11.jpg' %}"></div>
<div class="gal_21"><img src="{% static 'images/gl10.jpg' %}"></div>
    </div>
<!-- <div style="width: 100%;height: 350px;"> -->

    <!-- <div class="newsletter">
        <div class="newsletter1"> <p5>NEWSLETTER</p5> <BR>

            <t2>Join our community of students</t2>

        </BR></div>
             <div class="brc"><t>Download brochure</t></div></div>
    
</div> -->


<div style="width: 100%;height: auto;">

    <div class="newsletter">
        <div class="newsletter1"> <p5>NEWSLETTER</p5> <BR>
 
            <t2>Join our community of students</t2>
 
        </BR></div>
        
           <div class="brc"><t>Download brochure</t></div>
    </div>
 </div> 
<!-- <div style="background-color: #100F1F;width: 100%;height: 15mm;"></div> -->
{% endblock %}