{% extends 'babtra_master.html' %}
{% load static %}

{% block title %}
home
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="joinnow" >

    <div class="joinnow_1">

        <t1 style="padding-left: 40px;">LEARN SOFTWERE</t1>
        <BR><br> <br>

        <h11 style="padding-top: 20px;">Getting a Software Job is So Easy Now with our IT Internship Programss</h11>
        <BR>
        <p1>
            Learn programming from Kerala's most trusted software training company with the highest placement record.
            Enroll in software courses and internship programs in Python, Flutter, Angular and PHP to start your career.

        </p1>
        <div class="enquire">
            <t1>Our courses</t1>
        </div>

    </div>

    <img src="{% static 'images/pic1.png' %}" style="float: right;">
</div>
<div class="oray">
    <img src="{% static 'images/oray.png' %}">

    <div class="oray_1"> <p5>WE ARE AFFILIATED WITH</p5> 
    <t2>Oray Education London, UK</t2>
    </div>

    <a href="#"><div class="brc"><t>Download brochure</t></div></a>
</div>

<div class="home_11 ">
    <t1>EXPERTISE IN EDUCATION</t1> <BR></BR>
    <t2>
        Ed-tech company with 11 years of industry leadership in training and placements, holding highest number of
        placement track in Malabar.
    </t2>
</div>

<div class="home_12">


    <div class="coursecard"><img src="{% static 'images/python.png' %}">
        <t2>Python <br>
            Training</t2>
    </div>


    <div class="coursecard"><img src="{% static 'images/flutter.png' %}">
        <t2>Flutter <br>
            Training</t2>
    </div>



    <div class="coursecard"><img src="{% static 'images/angular.png' %}">
        <t2>
            Angular <br>
            Training
        </t2>
    </div>


    <div class="coursecard"><img src="{% static 'images/php.png' %}">
        <t2>PHP <br>
            Training</t2>
    </div>
</div>


<div class="home_2">
    <div class="home_21"><img src="{% static 'images/explore-course.png' %}"></div>
    <div class="home_22">
        <t1>EXPLORE OUR INTERNSHIP PROGRAMME</t1> <br>
        <t2>Learn new skills to go ahead of your career</t2> <br>
        <t3> Join Us</t3> <br>
        <t4>It doesn’t matter how talented you are. Join specialized job oriented software courses & training programs
            and
            just learn the in-demand skills to be a better programmer.</t4> <br><br>

        <t3> Get Skilled Job</t3> <br>
        <t4>Get trained and skilled under the guidance of expert software engineers and be ready for the jobs..</t4>
        <br><br><br> <br>

        <t3> Get Hired</t3> <br>
        <t4>Showcase your profile with skills acquired and get hired by your dream company.</t4> <br> <br><br> <br> <br>
        <div class="enquire">
            <t5>Know more</t5>
        </div>
    </div>

</div>
<div class="home_3">
    <div class="home_31">
        <t1>CS Talent Show</t1> <br><br>
        <t2>CS talent show, a live event hosted by the student community through their social media channels to showcase the
            projects done by students. Our instructors will monitor the students’ projects and provide guidance.</t2>
    </div>
    

    <div class="home_31">
        <t1>Coffee with HR</t1> <br><br>
        <t2>MNC HR representatives will visit Baabtra students to present their company, job opportunities, And job
            nature. Students will learn about the companies and have the chance to apply for jobs.</t2>
    </div>

    <div class="home_31">
        <t1>Digital Fest</t1> <br><br>
        <t2>Digital fest for baabtra students is a platform for students to showcase their software application
            development skills to companies for securing a job.</t2>
    </div>


</div>
<!-- -------------------------------------------------------------------- -->

<div class = "gal_1">
    <P1>HIRING PARTNERS</P1>
    <h2>Organizations Our Students are <BR> Placed at</h2>
    <div class="uline"></div>

</div>
<div class="orgs">
<img src="{% static 'images/comp.png' %}"></img>
</div> 

<!-- -------------------------------------------------------------------------------- -->
<div class = "gal_1">
    <P1>BLOG</P1>
    <h2>Latest Blog</h2>
    <div class="uline"></div>

   
    </div>

    <div class="blog_i">
        <div class="blog_i1">
            <img src="{% static 'images/bl1.jpg' %}">
            <p1>Dec 20, 2022</p1>
            <p2>How to Upgrade Yourself as an Early-Stage Programmer in India?</p2>
            <div class="enquire"><p>Read More</p></div>
    
        </div>
    
    
        <div class="blog_i1">
            <img src="{% static 'images/bl2.jpg' %}">
    
            <p1>Nov 14, 2022</p1>
            <p2>How you can improve your skills in web technologies?</p2>
            <div class="enquire"><p>Read More</p></div>
        </div>
    
    
        <div class="blog_i1">
            <img src="{% static 'images/bl3.jpg' %}">
            <p1>Oct 22, 2022</p1>
            <p2>Career Opportunities in Python</p2>
            <div class="enquire"><p>Read More</p></div>
        </div>
    
    </div>







{% endblock %}