{% extends 'babtra_master.html' %}
{% load static %}


{% block title %}
placement
{% endblock %}



{% block head %}
<link rel="stylesheet" href="{% static 'css/placement.css' %}">
{% endblock %}

{% block content %}

<div class="placement_1">
   <t1>Placements</t1>
   <p1><a href="home">HOME</a>/PLACEMENTS</p1>
</div>

<div class="placement_2">
   <t1>THE INDUSTRIAL BEST</t1>
   <t2>Placement Service</t2>
   <div class="uline"></div>




<t3>Baabtra has helped 1000+ freshers in Kerala to start their career as a software developer/programmer both in MNC’s
   like Oracle, UST Global, Infosys, Cognizant etc and SME’s through our training/internship programs. Baabtra work as
   recruitment partner for many IT Companies in hiring entry level talented programmers. Some of such companies are SRIT
   India Pvt Ltd, Sesame, Nucore, Limenzy Technologies, Xpertcube, Vinam Solutions, IOSS, Zoondia, Minimalister,
   Wiinnova, Software Associates, Limner Consulting LLP, ihits technologies,HyperBlox India Pvt.Ltd, BrainBox, Kaiser
   Haus etc.</t3>
</div>




<!-- -------------------------------------------------------------------- -->
<div style="width: auto;height: auto;">

   <div class="newsletter">
             <div class="newsletter1"> <p5>NEWSLETTER</p5> <BR>

             <t2>Join our community of students</t2>

            </BR></div>
        
          <div class="brc"><t>Download brochure</t></div>
   </div>
</div> 


<!-- <div style="background-color: #2317d1;width:500px;height: 50mm;margin-top: 20px;margin-bottom: 20px;border: solid 2px black;"></div> -->



{% endblock %}