.placement_1
{
background-color:#263B5E;
width: auto;
height: auto;
display: flex;
flex-direction: column;

}
.placement_1 a
{
  text-decoration: none;
  color: #b8b8b8;
}
.placement_1 t1
{
    text-align: center;
    color:#ffffff;
    font-size: 60px;
    margin-top: 60px;
    font-family: 'arial';
   
    font-weight: bold;
} 


.placement_1 p1
{
    text-align: center;
    color:#ffffff;
    font-size: 20px;
    font-family: 'arial'; 
    margin-top: 0px;
    margin-bottom: 120px;   
}

.placement_2
{
background-color:#ffffff;
width: auto;
height: auto;
display: flex;
flex-direction: column;
align-items: center;
}


.placement_2 t1
{
   font-size: 14px;
color: #FD1849;
font-family: arial;
font-weight: bold;
display: inline-block;
margin-top: 80px;
letter-spacing: 1.5px;

}

.placement_2 t2
{
color: #07294D;
font-size: 40px;
font-family: arial;
font-weight: bold;
margin-top: 0px;
}
.placement_2 t3
{
   color: #616060ec;
   font-family:  sans-serif;
   font: times new roman ;
   margin-left: 280px;
   margin-right: 280px;
   font-size: 14px;
   margin-top: 72px;
   margin-bottom: 108px;
   line-height : 2;
}

.uline
{
height:2px;
width: 40px;
margin-top: 15px;
background-color :#FD1849; 
margin-left: auto;
margin-right: auto;
}